
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - BPMN</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.min.css" />
	</environment>
	<link rel="stylesheet" href="~/assets/css/style.css" />
</head>

<body>
    <div class="ui inverted vertical center aligned segment">
        @RenderBody()
        <div class="ui inverted vertical footer segment">
        </div>
    </div>
<style type="text/css">

    .ui.inverted.vertical.segment {
        height: 100vh;
    }

    .ui.inverted.vertical.segment h1.header.item {
        font-size: 2em;
    }

    .ui.inverted.vertical.segment a.item {
        font-size: 1.2em;
    }

    .ui.inverted.vertical.segment .ui.text.container {
        height: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ui.inverted.vertical.segment .ui.text.container h1.header {
        font-size: 3em;
    }

    .ui.inverted.vertical.segment .ui.text.container p {
        font-size: 1.6em;
        line-height: 1.6;
    }

    .ui.inverted.vertical.segment .ui.footer.segment {
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 1.2em;
        color: gray;
    }

    .ui.inverted.vertical.segment .ui.footer.segment a {
        color: white;
    }
</style>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/semantic-ui/dist/semantic.js"></script>
    <script src="~/lib/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/actions.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="~/lib/semantic-ui/dist/semantic.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/actions.js"></script>
</environment>

<script>
    $(".dropdown").dropdown();
    $(".launch").on("click",
        function() {
            $('.ui.sidebar')
                .sidebar('show');
        });
    $(document).ready(function() {
        $("#startButton").on("click",
            function () {
                $("#startButtonAction").click();
                $("#div1").transition('scale');

            });
    });

</script>
@RenderSection("Scripts", required: false)
</body>
</html>
