
<table class="table table-hover no-wrap">
	<tbody>
		{{if result.notifications.values.length > 0}}
		{{for result.notifications.values}}
		<tr style="cursor: pointer;" class="unread rightclick data-message" data-id="{{:Id}}">
			<td class="id" notId="{{:Id}}" style="display: none"></td>
			<td style="width: 40px">
				<div class="checkbox">
					<input type="checkbox" id="checkbox0" value="check">
					<label for="checkbox0"></label>
				</div>
			</td>
			<td style="width: 40px" class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
			<td class="hidden-xs-down">{{:Subject}}</td>
			<td class="hidden-xs-down">{{:Author.UserName}}</td>
			<td class="max-texts"> <a href="javascript:void(0)" /><span class="label label-info m-r-10">Work</span> {{:Message}}</td>
			<td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
			<td class="text-right"> {{:Created}}</td>
		</tr>
		{{/for}}
		{{else}}
		<tr>
			<td colspan="{{:result.notifications.fields.length + 2}}">No items</td>
		</tr>
		{{/if}}
	</tbody>
</table>