@model GR.Email.Abstractions.Models.EmailViewModels.EmailSettingsViewModel
@{
    ViewData["Title"] = "Email settings";
}

	<div class="card card-outline-info">
		<div class="card-header">
			<h4 class="mb-0 text-white">Email settings</h4>
		</div>
		<div class="card-body">
			<form asp-action="EmailSettings" role="form">
				<div>
					<div class="row p-t-20">
						<div class="col-md-6">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input asp-for="Enabled" class="custom-control-input vis-check">
									<label asp-for="Enabled" class="custom-control-label"></label>
								</div>
								<span asp-validation-for="Enabled" class="text-danger"></span><br/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input asp-for="EnableSsl" class="custom-control-input vis-check">
									<label asp-for="EnableSsl" class="custom-control-label"></label>
								</div>
								<span asp-validation-for="EnableSsl" class="text-danger"></span><br />
							</div>
						</div>
					</div>
					<h3 class="card-title">Credentials:</h3>
					<hr>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row p-t-20">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="NetworkCredential.Email"></label>
								<input asp-for="NetworkCredential.Email" class="form-control"/>
								<span asp-validation-for="NetworkCredential.Email" class="text-danger"></span><br/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="NetworkCredential.Password"></label>
								<input type="text" asp-for="NetworkCredential.Password" class="form-control"/>
								<span asp-validation-for="NetworkCredential.Password" class="text-danger"></span>
							</div>
						</div>
					</div>
					<h3 class="card-title">Host data:</h3>
					<hr>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row p-t-20">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Host"></label>
								<input asp-for="Host" class="form-control"/>
								<span asp-validation-for="Host" class="text-danger"></span><br/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Port"></label>
								<input asp-for="Port" class="form-control"/>
								<span asp-validation-for="Port" class="text-danger"></span>
							</div>
						</div>
					</div>

					<h3 class="card-title">Advanced configurations:</h3>
					<hr>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row p-t-20">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Timeout"></label>
								<input asp-for="Timeout" class="form-control"/>
								<span asp-validation-for="Timeout" class="text-danger"></span><br/>
							</div>
						</div>
					</div>
				</div>
				<div class="row button-group">
					<div class="col-lg-2 col-md-3">
						<button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
					</div>
					<div class="col-lg-2 col-md-3">
						<button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
					</div>
				</div>
			</form>
		</div>
	</div>


@section Scripts
{
	<script src="~/assets/EmailPlugins/email-settings.js" asp-append-version="true"></script>
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
