@{
    ViewData["Title"] = "CreateDynamic";
}

<h2>Create Dynamic Report:</h2>
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label for="tableSelect">Select table:</label>
            <select class="form-control tableSelect" id="tableSelect"></select>
        </div>
    </div>
</div>
a
aaaaaaaaaaaar2345324
@section Scripts
{
    <script>
        function updateReportList(action, selectOptions) {
            $("." + selectOptions).html("");
            var requestAction = action;
            $.ajax({
                type: "POST",
                url: requestAction,
                dataType: 'json',
                success: function (data) {
                    var s;
                    for (let i = 0; i < data.length; i++) {
                        s += `<option value="${data[i]}">${data[i]}</option>`;
                    }
                    $("." + selectOptions).html(s);
                }
            });
        }

        $(document).ready(function () {
            $('#tableSelect').select2({
                placeholder: "--Select tables--",
                multiple: true
            });
            updateReportList("@Url.Action("GetTablesAjax", "DynamicReports")", "tableSelect");
        });



    </script>

}