@using Microsoft.EntityFrameworkCore.Internal
@using ST.Dashboard.Abstractions
@using ST.Identity.Abstractions
@inject UserManager<ApplicationUser> UserManager
@inject IStringLocalizer Localizer
@inject IDashboardService DashboardService
@{
	ViewData["Title"] = Localizer["title_home"];
	var user = await UserManager.GetUserAsync(User);
	var configuration = await DashboardService.GetDashboardConfigurationForRenderAsync();
}

@if (configuration.IsSuccess)
{
	@foreach (var row in configuration.Result)
	{
		<div class="row">
			@for (var j = 0; j < new Random().Next(10); j++)
			{
				<div class="col-md">
					<div class="card mb-sm-4 mb-3">
						<div class="card-body p-0">
							<div class="p-3 pl-4" style="height:@(new Random().Next(100, 400))px">
								<h1>Widget</h1>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	}
}
else
{
	<h1>@configuration.Errors.ElementAt(0)?.Message</h1>
}