@{
	ViewData["Title"] = "Test";
}

<div id="test" class="multilevel-collapse"></div>

@section Styles{
<style>
	.info-tooltip-circle {
		padding: 0px 8px !important;
	}
</style>
}

@section Scripts {
	<script src="~/assets/js/plugins/st-data-table-plugin-v.0.1.js"></script>
	<script src="~/assets/js/plugins/st-ui-data-table-inline-edit-plugin-v.0.1.js"></script>
	<script src="~/themes/iso/js/meetings.js" asp-append-version="true"></script>


	<script type="text/x-jsrender" id="rootCollapse">
	<div class="card">
		<div class="card-header d-flex justify-content-between align-items-center" id="head_{{:id}}">
			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_{{:id}}"
					aria-expanded="false" aria-controls="collapse_{{:id}}">
				<span class="collapse-icon mr-1"></span>
				{{:name}}
				<span class="info-tooltip-circle info-tooltip ml-3 btn-outline-primary"
					  data-content='{{:name}}'>?</span>
			</button>
		</div>
		<div class="card-body">
			<div id="collapse_{{:id}}" class="collapse" aria-labelledby="head_{{:id}}" data-parent="#accordion">
				{{for items tmpl="secondLvl"/}}
			</div>
		</div>
	</div>
</script>
	<script type="text/x-jsrender" id="secondLvlCollapse">
	<div class="card">
		<div class="card-header d-flex justify-content-between align-items-center" id="head_{{:id}}">
			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_{{:id}}"
					aria-expanded="false" aria-controls="collapse_{{:id}}">
				<span class="collapse-icon mr-1"></span>
				{{:name}}
			</button>
		</div>
		<div class="card-body">
			<div id="collapse_{{:id}}" class="collapse p-2 py-4" aria-labelledby="head_{{:id}}" data-parent="#accordion">
				<h3 class="d-flex align-items-center">{{:label}}</h3>
				<textarea data-key="{{:key}}" class="form-control br-none textarea-binding" rows="4">{{:~obj[key]}}</textarea>
				{{if hasButton}}
				{{if button.isLink}}
				<a class="btn btn-link text-black-50" href="{{:button.link}}">
					<span class="align-middle button-label">{{:button.buttonText}}</span>
				</a>
				{{else !button.isLink}}
				<h2>
					<button type="button"
							data-key="{{:key}}"
							class="collapse-binder btn btn-link text-color-heading text-bold text-size-inherit spoiler d-flex align-items-center collapsed"
							data-toggle="collapse"
							data-target="#collapse_button_{{:id}}"
							aria-expanded="false"
							aria-controls="collapse_button_{{:id}}">
						<span class="spoiler-icon mr-1 align-middle"></span>
						<span class="align-middle button-label">{{:button.buttonText}}</span>
					</button>
				</h2>
				<div class="collapse spoiler-collapse" id="collapse_button_{{:id}}">
					<div style="min-height: 10em; position:relative; overflow: hidden">
						{{:~spinner}}
					</div>
				</div>
				{{/if}}

				{{/if}}
			</div>
		</div>
	</div>
</script>
}