.report-table table {
	width: 100%;
	border: 1px solid #C0C0C0;
	border-collapse: unset !important;
	border-radius: 3px;
}

	.report-table table td, .report-table th {
		border-left: 1px solid #C0C0C0;
		padding: 8px;
	}

		.report-table table td:first-child, .report-table th:first-child {
			border-left: 0;
		}

	.report-table table tr:nth-child(even) {
		background-color: wheat;
	}

	.report-table table tr:hover {
		background-color: #ddd;
	}

	.report-table table th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		background-color: #778899;
		color: white;
	}

table.pivot th {
	padding: 0px !important;
}

	table.pivot th:last-child {
		outline: 0;
	}

	table.pivot th span {
		padding: 10px;
	}

table.pivot .sup {
	display: block;
	position: relative;
	width: 50%;
	float: left;
	padding-bottom: 3%;
	padding-top: 1%;
	height: 100%;
	text-align: center;
	z-index: 1;
}

table.pivot .inf {
	display: block;
	position: relative;
	width: 50%;
	float: left;
	padding-top: 3%;
	padding-bottom: 1%;
	height: 100%;
	text-align: center;
	z-index: 1;
}

table.pivot .sup::after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
	background-size: cover;
	clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
}

table.pivot .inf::after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
	background-size: cover;
	clip-path: polygon(0% 0%, 200% 100%, 0% 100%);
}

.select2-results__options ul li {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.select2-container--default .select2-results__group {
	font-weight: bold;
}

.select2-selection--single .select2-selection__rendered {
	line-height: 34px !important;
}

.select2-container .select2-selection--single {
	height: 37px !important;
}

.select2-selection__arrow {
	height: 36px !important;
}

.fieldSelectBox .select2-selection__choice {
	width: 100%;
	line-height: 36px;
}

	.fieldSelectBox .select2-selection__choice .select2-selection__choice__remove {
		float: left;
	}

	.fieldSelectBox .select2-selection__choice .displayField {
		line-height: 18px;
		margin: 2px;
	}

.card-block {
	min-height: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
	border-bottom: 0;
}

#select2-tableSelect-results ul.select2-results__options--nested {
    columns: 4;
}

.multilevel-collapse .select2 {
    width: 100% !important;
}

.multilevel-collapse .card .collapse {
    padding-right: 20px;
}

    .multilevel-collapse .card .collapse .card-header {
        padding-right: 0px !important;
    }

#report_tables .select2 {
    width: calc(100% - 20px) !important;
}

    #report_tables .select2 .select2-selection {
        padding-right: 50px;
    }

.mw-180 {
    min-width: 180px;
    justify-content: center;
}

.fw-500 {
    font-weight: 500 !important;
}

.sidebar + .content-area .report-actions {
    width: calc(100vw - 300px);
    margin-left: 300px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all 0.4s;
}

.sidebar.collapsed + .content-area .report-actions {
    width: calc(100vw - 60px);
    margin-left: 60px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all 0.4s;
}

.button-border {
    border: 1px solid #D3D4D7;
    border-radius: 4px;
    color: #707070;
    background-color: transparent;
}

    .button-border:hover {
        border: 1px solid #707070;
        color: #404040;
    }