@model GR.Identity.Razor.ViewModels.PermissionViewModels.EditPermissionViewModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Edit <code>@Model.PermissionName</code></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <form id="updatePermissionForm">
            <input asp-for="PermissionId" type="hidden" />
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="PermissionName" class="control-label">Permission name</label>
                    <input type="text" class="form-control" asp-for="PermissionName">
                    <span asp-validation-for="PermissionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea class="form-control" asp-for="Description" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" id="updatePermissionBtn" class="btn btn-success waves-effect waves-light">Save changes</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" language="javascript">
	$(document).ready(function() {
		$('#updatePermissionBtn').click(function() {
				$.ajax({
					type: "POST",
					url: '@Url.Action("_EditPermission")',
					dataType: 'json',
					data: $('#updatePermissionForm').serialize(),
					success: function(response) {
						$('#editPermission-modal').modal('hide');
						switch (response.success) {
							case true:
								swal({
									title: "Success!",
									text: response.message,
									type: "success",
									confirmButtonColor: "#55ce63",
									confirmButtonText: "Ok",
									closeOnConfirm: true
								}).then((result) => {
									if (result.value) {
										const oTable = $('#permissionTable').DataTable();
										oTable.draw();
									}
								});
							break;
						case false:
							swal({
								title: "Fail",
								text: response.message,
								type: "error"
							});
							break;
						}
					},
					error: function() {
						swal({
							title: "Fail",
							text: "Server no response",
							type: "error"
						});
					}
				});
			}
		);
	});
</script>