@model GR.Identity.Razor.ViewModels.ApiClientViewModels.ApiClientGeneralViewModel

<div class="tab-pane active" role="tabpanel">
    <div class="p-20">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <form id="generalInfo" role="form" method="post">
                            <input asp-for="Id" type="hidden" />
                            <div class="form-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="ClientName"></label>
                                            <input class="form-control" required="required" type="text" asp-for="ClientName" />
                                            <span asp-validation-for="ClientName" class="text-danger"></span><br />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="ClientUri"></label>
                                            <input class="form-control" required="required" type="text" asp-for="ClientUri" />
                                            <span asp-validation-for="ClientUri" class="text-danger"></span><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="Description"></label>
                                            <input class="form-control" required="required" type="text" asp-for="Description">
                                            <span asp-validation-for="Description" class="text-danger"></span><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row button-group">
                                <div class="col-lg-2 col-md-3">
                                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i>Save</button>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <button type="reset" class="btn btn-block  btn-inverse"> Reset</button>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <a asp-action="Index" class="btn btn-block btn-link"> Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
	function getTokenAntiForgery() {
		const token = '@Html.AntiForgeryToken()';
		return $(token).val();
	}
	$('#generalInfo').on('submit', function(e){
		e.preventDefault();
		const formData = $(this).serialize();

		$.post('@Url.Action("_GeneralInfo")', formData, function(response) {
			if (response) {
				swal({
					title: "Success!",
					text: "All data save with success",
					type: "success",
                    confirmButtonText: "Ok",
                    cancelButtonText: window.translate("cancel"),
					closeOnConfirm: false
				}).then(() =>  {
					window.location.href = '@Url.Action("Index")';
				});
			} else {
				swal({
					title: "Fail",
					text: "Same error on save",
					type: "error"
				});
			}
		});
	});
</script>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}