<div class="card">
    <div class="card-body pb-0">
        <h4 class="card-title">Application Info</h4>
    </div>
    <div id="tabContainer" class="tab-content">
        <ul class="nav nav-tabs customtab" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" asp-action="_GeneralInfo" asp-route-id="@ViewBag.Id"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">General Info</span></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" asp-action="_Roles" asp-route-id="@ViewBag.Id"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Roles</span></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" asp-action="_Permissions" asp-route-id="@ViewBag.Id"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Permissions</span></a></li>
        </ul>
        <div id="loader" style="display: none" class="row justify-content-center">
            <img src="~/images/loader.svg" style="width: 70px; height: 70px" class="img-responsive m-3" alt="Loader" />
        </div>
    </div>
</div>

@section Scripts
	{
    <script type="text/javascript" language="javascript">
		jQuery(document).ready(function ($) {
			$("#tabContainer").tabs({
				beforeLoad: function (event, ui) {
					$(ui.panel).siblings('.ui-tabs-panel').empty();
					$('#loader').show();
				},
				load: function (e, ui) {
					$('#loader').hide();
					$(ui.panel).html();
				}
			});
		});
    </script>
}