<div class="card">
    <div class="card-body">
        <h4 class="card-title">{Title}</h4>
        <h6 class="card-subtitle">{SubTitle}</h6>
        {DocumentationContainer}
        <div>
            {AddSectionContainer}
            <div class="table-dataTable">
                <table style="{TableInlineStyles}" class="table table-striped table-bordered" id="render_{Identifier}">
                    <thead>
                        <tr>{ColumnsContainer}</tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    {JsScript}
</script>