@model GR.ECommerce.Razor.ViewModels.AddToCartViewModel


@{
	ViewData["Title"] = "Cart";
}

<div class="row">
	<form>
		<div class="col-8">

			<partial name="_TableCartItems" model="@Model" />

			<textarea name="" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter order note"></textarea>
		</div>
		<div class="col-3 m-2 border border-light">
			<p>Order summary</p>
			<hr class="style1">

			<div class="col-12 row">
				<div class="col-6">TotalPrice: </div>
				<div class="col-6 text-right"> @Model.CartItems.Sum(s => s.Product?.PriceWithDiscount)</div>
			</div>

			<hr class="style1">

			<button class="btn btn-success">Process to checkout</button>
		</div>
	</form>
</div>