@using ST.Configuration.Services.Abstraction
@inject IPageRender PageRender

@{
	ViewData["Title"] = "Page Builder";
	var pageData = (Page)ViewBag.Page;
	var styles = PageRender.GetPageStyles(pageData.Id);
	var scripts = PageRender.GetPageScripts(pageData.Id);
}

@*<link rel="stylesheet" href="~/assets/stylesheets/toastr.min.css">*@
<link rel="stylesheet" href="~/assets/stylesheets/grapes.min.css?v0.14.43">
<link rel="stylesheet" href="~/assets/stylesheets/grapesjs-preset-webpage.min.css">
<link rel="stylesheet" href="~/assets/stylesheets/tooltip.css">
<link rel="stylesheet" href="~/assets/stylesheets/grapesjs-plugin-filestack.css">
<link rel="stylesheet" href="~/assets/stylesheets/page-builder.css">

<a style="float: right;" target="_blank" class="btn btn-warning" href="@pageData.Path">Preview page</a>
<h2 style="margin-bottom: 1em;">Edit <code>@pageData.Settings.Name</code> page content</h2>

<p>
	<a class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Builder Info
	</a>
</p>
<div class="collapse" id="collapseExample">
	<div class="card card-body">
		<blockquote>
			This is a builder that allows you to add, stylize content to the desired mode. For this it offers a set of possibilities:
			<ul class="list-icons">
				<li><i class="fa fa-minus text-info"></i> Adding textual content with block manager</li>
				<li><i class="fa fa-minus text-info"></i> Adding images from both local and external sources</li>
				<li><i class="fa fa-minus text-info"></i> Adding forms through drag and drop of the component, but also with the preview and setting option from the right menu</li>
				<li><i class="fa fa-minus text-info"></i> Add dynamic lists from a database source with the option to set a set of options</li>
				<li><i class="fa fa-minus text-info"></i> Adding new types of blocks</li>
				<li><i class="fa fa-minus text-info"></i> Copying a block and reusing it</li>
			</ul>
		</blockquote>
	</div>
</div>

<div id="gjs" style="height: 150em;">
	@Html.Raw(ViewBag.Html)

	<style>
		@Html.Raw(ViewBag.Css)
	</style>
</div>

<!--Info command content-->
<div id="info-panel" style="display:none">
	<br />
	<div class="info-panel-label">
		<h3 style="color: white;">Page Builder</h3>
	</div>
</div>


@section Scripts{
	<script src="//static.filestackapi.com/v3/filestack.js"></script>
	<!-- <script src="js/aviary.js"></script> old //feather.aviary.com/imaging/v3/editor.js -->
	@*<script src="~/assets/js/toastr.min.js"></script>*@

	<script src="~/assets/js/grapes.min.js?v0.14.43"></script>
	<script src="~/assets/js/grapesjs-preset-webpage.min.js"></script>
	<script src="~/assets/js/grapesjs-lory-slider.min.js?0.1.5"></script>
	<script src="~/assets/js/grapesjs-tabs.min.js?0.1.1"></script>
	<script src="~/assets/js/grapesjs-custom-code.min.js?0.1.1"></script>
	<script src="~/assets/js/grapesjs-touch.min.js?0.1.1"></script>
	<script src="~/assets/js/grapesjs-parser-postcss.min.js?0.1.1"></script>
	<script src="~/assets/js/grapesjs-tooltip.min.js?0.1.1"></script>
	<script type="text/javascript" asp-append-version="true" src="~/assets/js/builder/custom-plugins.js"></script>
	<script type="text/javascript" asp-append-version="true" src="~/assets/js/builder/page-builder.js"></script>

	<script>
		//Add Save
		cmdm.add("save", function () {
			let html = editor.getHtml();
			const css = editor.getCss();
			const js = editor.getJs();
			let script = document.createElement("script");
			script.innerHtml = js;
			console.log(js);
			console.log(script);
			html += script.innerText;


			console.log(script.innerText);

			const url = new URL(location.href);
			const pageId = url.searchParams.get("pageId");
			$.ajax({
				url: "/Page/Save",
				type: "post",
				data: {
					cssCode: css,
					htmlCode: html,
					pageId: pageId
				},
				error: function (error) {
					var mdlDialog = document.querySelector('.gjs-mdl-dialog');
					mdlDialog.className += ' ' + mdlClass;
					modal.setTitle('Info');
					modal.setContent(
						`
			<center>
				<span style="color: red; font-size: 1.5em;" class='fa fa-close'></span><br>Data fail to save!
			</center>`);
					modal.open();
				},
				success: function (data) {
					if (data.is_success) {
						var mdlDialog = document.querySelector('.gjs-mdl-dialog');
						mdlDialog.className += ' ' + mdlClass;
						modal.setTitle('Info');
						modal.setContent(
							`
			<center>
				<span style="color: green; font-size: 1.5em;" class='fa fa-check-circle'></span><br>Data has been saved!
			</center>`);
						modal.open();
					}
				}
			});
		});


		pn.addButton('options', {
			id: 'save',
			className: 'fa fa-save',
			command: function () { editor.runCommand('save') },
			attributes: {
				'title': 'Save',
				'data-tooltip-pos': 'bottom'
			}
		});



		// Add info command
		var mdlClass = 'gjs-mdl-dialog-sm';
		var infoContainer = document.getElementById('info-panel');
		cmdm.add('open-info', function () {
			var mdlDialog = document.querySelector('.gjs-mdl-dialog');
			mdlDialog.className += ' ' + mdlClass;
			infoContainer.style.display = 'block';
			modal.setTitle('About Page Builder');
			modal.setContent(infoContainer);
			modal.open();
			modal.getModel().once('change:open',
				function () {
					mdlDialog.className = mdlDialog.className.replace(mdlClass, '');
				});
		});

		pn.addButton('options', {
			id: 'open-info',
			className: 'fa fa-question-circle',
			command: function () { editor.runCommand('open-info') },
			attributes: {
				'title': 'About',
				'data-tooltip-pos': 'bottom'
			}
		});

			//$(document).ready(function () {
			// $(document).keydown(function (e) {
			// e.preventDefault();
			// if ((e.which == '115' || e.which == '83') && (e.ctrlKey || e.metaKey) && !(e.altKey)) {
			// editor.runCommand('save');
			// return false;
			// }
			// return true;
			// });
			//});
	</script>
}