<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
			</handlers>
			<aspNetCore xdt:Transform="Insert" processPath="dotnet" arguments=".\GR.Cms.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!-- ProjectGuid: 0E3EFA85-AF30-432A-85DE-9C7DB819CAA5 -->