<li>
	{{if children.length == 0}}
		{{if href == ''}}
			<a href="javascript:void(0)">
				<i class="{{:icon}}"></i><span class="{{if !parentMenuItemId}}hide-menu{{/if}}" translate="{{:translate}}">{{:name}}</span>
			</a>
		{{else}}
			<a href="{{:~host}}{{:href}}">
				<i class="{{:icon}}"></i><span class="{{if !parentMenuItemId}}hide-menu{{/if}}" translate="{{:translate}}">{{:name}}</span>
			</a>
		{{/else}}
	{{else}}
		{{if href == ''}}
			<a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
				<i class="{{:icon}}"></i><span class="{{if !parentMenuItemId}}hide-menu{{/if}}" translate="{{:translate}}">{{:name}}</span>
			</a>
		{{else}}
			<a class="has-arrow" href="{{:~host}}{{:href}}" aria-expanded="false">
				<i class="{{:icon}}"></i><span class="{{if !parentMenuItemId}}hide-menu{{/if}}" translate="{{:translate}}">{{:name}}</span>
			</a>
		{{/else}}
	{{/else}}

	{{if children.length > 0 }}
			<ul aria-expanded="false" class="collapse">
				{{for children tmpl="template_renderMenu.html"/}}
			</ul>
	{{/if}}
</li>