@model ST.Identity.Razor.ViewModels.AccountViewModels.ConfirmEmailViewModel
@{
	ViewData["Title"] = "Confirm Email";
	Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>

<div class="container">
	<div class="row d-flex justify-content-center my-5">
		<div class="col-lg-6">
			<div class="card mb-4">
				<div class="card-header">Set new password</div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="ConfirmEmail" role="form" method="post">
                        <input asp-for="UserId" type="hidden"/>
                        <input asp-for="Token" type="hidden"/>
                        <div class="form-group">
                            <label class="form-control-label" asp-for="Email"></label>
                            <input class="form-control" asp-for="Email" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" asp-for="Password"></label>
                            <input class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" asp-for="RepeatPassword"></label>
                            <input class="form-control" asp-for="RepeatPassword">
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

<partial name="_ValidationScriptsPartial"/>