<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div style="margin: 0 auto; width: 100%;max-width: 600px;">
        <table style="
        background-color: white;
        font-size:14px;
        color: #254258;
        font-family: Arial;
        padding-left: 40px;
        padding-right: 40px;">
            <tr>
                <td style="height: 50px;"></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <img width="150" height="41" src="https://i.ibb.co/yY0mjM0/iso-logo.png" alt="iso-logo" border="0">
                </td>
            </tr>
            <tr>
                <td style="height: 40px;"></td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <img src="https://i.ibb.co/R22Dsm1/forgot-password.png" alt="forgot-password" border="0">
                </td>
            </tr>
            <tr>
                <td style="height: 40px;"></td>
            </tr>
            <tr>
                <td style="text-align: center; font-size: 25px; font-weight: bold; color: #000000">
                    Reset password
                </td>
            </tr>
            <tr>
                <td style="height: 10px;"></td>
            </tr>
            <tr>
                <td style="text-align: center; font-size: 18px;">
                    <p>
                        Reset your password by clicking on the button below
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height: 20px;"></td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <a style="text-align: center;
                        background-color: #0848C8;
                        color: white;
                        border-radius: 4px;
                        padding: 13px 43px;
                        text-decoration: none;" href="{Link}">
                        Reset
                    </a>
                </td>
            </tr>
            <tr>
                <td style="height: 40px;"></td>
            </tr>
        </table>
        <table style="background-color: #254258;
        color: #ffffff;
        width: 100%;
        max-width: 600px;
        font-size:14px;
        font-family: Arial;
        padding-left: 40px;
        padding-right: 40px;">
            <tr>
                <td style="height: 40px;"></td>
            </tr>
            <tr>
                <td style="font-size: 18px; font-weight: bold">
                    Expert Company OIL
                </td>
            </tr>
            <tr>
                <td style="height: 10px;"></td>
            </tr>
            <tr>
                <td>
                    Phone / Fax: +40 749 465 521
                </td>
            </tr>
            <tr>
                <td style="height: 5px;"></td>
            </tr>
            <tr>
                <td>
                    Email: ExpertCompanyOIL@gmail.com
                </td>
            </tr>
            <tr>
                <td style="height: 5px;"></td>
            </tr>
            <tr>
                <td>
                    Skype: ExpertCompanyOIL
                </td>
            </tr>
            <tr>
                <td style="height: 40px;"></td>
            </tr>
        </table>
        <table style="
    background-color: white;
    font-size:14px;
    color: #254258;
    font-family: Arial;
    padding-left: 40px;
    padding-right: 40px;">
            <tr>
                <td style="height: 20px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    Pentru informații detaliate despre celelalte programe cofinanțate de Uniunea Europeană, vă invităm să vizitați
                    <a style="text-decoration: none" href="www.fonduri-ue.ro" target="_blank">www.fonduri-ue.ro</a>
                </td>
            </tr>
            <tr>
                <td style="height: 20px;"></td>
            </tr>
            <tr>
                <td style="padding-right:10px; text-align: right; vertical-align: middle; width: 50%">
                    <img style="margin-bottom: -5px" width="20" height="20" src="https://i.ibb.co/WVL9SDD/inforegio.png" alt="inforegio" border="0">
                    <a style="text-decoration: none; margin-left: 5px" href="http://www.inforegio.ro" target="_blank">www.inforegio.ro</a>
                </td>
                <td style="padding-left:10px; vertical-align: middle;  width: 50%">
                    <img style="margin-bottom: -5px" width="20" height="20" src="https://i.ibb.co/sHJsgs6/facebookx2.png" alt="facebookx2" border="0">
                    <a style="text-decoration: none; margin-left: 5px" href="https://facebook.com/inforegio.ro" target="_blank">facebook.com/inforegio.ro</a>
                </td>
            </tr>
            <tr>
                <td style="height: 40px;"></td>
            </tr>
        </table>
    </div>
</body>
</html>