@model GR.Orders.Abstractions.Models.Order

@using GR.ECommerce.Payments.Abstractions.Storage

@{
    ViewData["Title"] = "Payments";

    var providers = PaymentProviders.GetProviders().ToList();
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                @if (providers.Any())
                {
                    @foreach (var provider in providers)
                    {
                        var partialViewName = $"_{provider}_PaymentMethodPartialView";
                        <partial name="@partialViewName" model="@Model.Id" />
                    }
                }
                else
                {
                    <h2>No payment providers registered!</h2>
                }
            </div>
            <div class="col-md-6">
                <partial name="_OrderSummaryPartialView" model="@Model" />
                <div class="col-lg-2 col-md-3">
                    <a id="cancel-order" href="#" class="btn btn-block btn-inverse"> Cancel order</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const toast = new ToastNotifier();
        $("#cancel-order").on("click", function () {
            $.ajax({
                method: "delete",
                url: "/api/Orders/CancelOrder",
                data: {
                    orderId: "@Model.Id"
                },
                success: function (response) {
                    if (response.is_success) {
                        toast.notifySuccess("Info", "Order was canceled");
                        setTimeout(function () {
                            location.href = "/Orders/MyOrders";
                        }, 300);
                    } else {
                        toast.notifyErrorList(response.error_keys);
                    }
                },
                error: function () {
                    toast.notifyErrorList("Error");
                }
            });
        });
    </script>
}
