@using GR.Localization.Abstractions.Models
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfig> LocalizationConfig

@{
	ViewData["Title"] = Localizer["localization_index_title"];
}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Keys</h4>
		<h6 class="card-subtitle">List of keys</h6>
		<div class="table-responsive">
			<div class="mt-2">
				<div class="d-flex">
					<div class="mr-auto">
						<div class="form-group">
							<a asp-action="AddKey" class="btn btn-primary btn-sm">
								<i class="mdi mdi-circle-edit-outline mr-2" aria-hidden="true"></i>@Localizer["add_key"]
							</a>
							<small>New key will be added.</small>
						</div>
					</div>
				</div>
			</div>
			<table class="table table-striped table-bordered" id="tableKeys">
				<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
						<th style="max-width: 70px">Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot></tfoot>
			</table>

		</div>
	</div>
</div>


@section Scripts{
	<script type="text/javascript" language="javascript">
		function getTokenAntiForgery() {
			const token = '@Html.AntiForgeryToken()';
			return $(token).val();
		}

	</script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function($) {
			const tableId = '#tableKeys';
			if ($.fn.DataTable.isDataTable(tableId)) {
				$(tableId).dataTable().fnDestroy();
				$(tableId).dataTable().empty();
			}

			$(tableId).DataTable({
				"language": {
					"url": `http://cdn.datatables.net/plug-ins/1.10.19/i18n/${window.getCookie("language")}.json`
				},
				dom: '<"CustomizeColumns">lBfrtip',
				"processing": true, // for show progress bar
				"serverSide": true, // for process server side
				"filter": true, // this is for disable filter (search box)
				"orderMulti": false, // for disable multiple column at once
				"destroy": true,
				"ajax": {
					"url": '@Url.Action("KeysList")',
					"type": "POST"
				},
				"columns": [
					{ "data": "name" },
					{ "data": "value" },
					{
						data: null,
						render: function (data) {
							return `<div class="btn-group" role="group" aria-label="Action buttons">
									<a class="btn btn-info btn-sm" href="@Url.Action("EditKey")?key=${data.name}">Edit</a>
									</div>`;
						}
					}
				]
			});
		});
	</script>
}