@{
	ViewData["Title"] = "Import";
}

<div class="card card-outline-primary">
	<div class="card-header">
		<h4 class="mb-0 text-white">Import system configs </h4>
	</div>
	<div class="card-body">
		<form enctype="multipart/form-data" asp-action="Import" role="form">
			<div class="form-body">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="row p-t-20">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="file"></label>
							<input class="form-control" id="file" type="file" name="file" />
						</div>
					</div>
				</div>
			</div>
			<div class="row button-group">
				<div class="col-lg-2 col-md-3">
					<button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> Upload</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}