@{
    ViewData["Title"] = "FileBox";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h2>Upload file</h2>
                <div class="btn">
                    <div>
                        <div class="label">Upload</div>
                        <input id="files" name="files" type="file" size="1" onchange="uploadFiles('files');" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2>Upload file multiple</h2>
                <div class="btn">
                    <div>
                        <div class="label">Upload Multiple</div>
                        <input id="filesMultiple" name="filesMultiple" type="file" size="1" multiple onchange="uploadFilesMultiple('filesMultiple');" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2>Delete file logical</h2>
                <button class="btn  btn-inverse" onclick="deleteLogical($('#deleteTxt1').val())">Delete</button>
                ID:<input type="text" id="deleteTxt1" />
            </div>
            <div class="card-body">
                <h2>Delete file permanent</h2>
                <button class="btn  btn-inverse" onclick="deletePermanent($('#deleteTxt').val())">Delete</button>
                ID:<input type="text" id="deleteTxt" />
            </div>
            <div class="card-body">
                <h2>Restore file</h2>
                <button class="btn  btn-inverse" onclick="restore($('#restoreTxt').val())">Restore</button>
                ID:<input type="text" id="restoreTxt" />
            </div>
            <div class="card-body">
                <h2>Download file</h2>
                <button class="btn  btn-inverse" onclick="download($('#downloadTxt2').val())">Download</button>
                ID: <input type="text" id="downloadTxt2" />
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script type="text/javascript" language="javascript">
		var url = 'http://localhost:9099/api/FileBox/';
		function uploadFiles(inputId) {
			var input = document.getElementById(inputId);
			var files = input.files;
			var formData = new FormData();
			formData.append("files", files[0]);
			$.ajax(
				{
					url: url + 'Upload',
					data: formData,
					processData: false,
					contentType: false,
					type: "POST",
					success: function (data) {
						alert("Files Uploaded with id: ");
					}
				}
			);
		};
		function uploadFilesMultiple(inputId) {
			var input = document.getElementById(inputId);
			var files = input.files;
			var formData = new FormData();
			for (var i = 0; i != files.length; i++) {
				formData.append("files", files[i]);
			}
			$.ajax(
				{
					url: url + 'UploadMultiple',
					data: formData,
					processData: false,
					contentType: false,
					type: "POST",
					success: function (data) {
						alert("Files Uploaded!");
					}
				}
			);
		};
		function restore(param) {
			var form = new FormData();
			form.append("id", param);
			$.ajax(
				{
					url: url + '/Restore',
					data: form,
					processData: false,
					contentType: false,
					type: "POST",
					success: function (data) {
						alert("File restored!");
					}
				}
			);
		};
		function deleteLogical(param) {
			var form = new FormData();
			form.append("id", param);
			$.ajax(
				{
					url: url + 'Delete',
					data: form,
					processData: false,
					contentType: false,
					type: "POST",
					success: function (data) {
						alert("File deleted!");
					}
				}
			);
		};
		function deletePermanent(param) {
			var form = new FormData();
			form.append("id", param);
			$.ajax(
				{
					url: url + 'DeletePermanent',
					data: form,
					processData: false,
					contentType: false,
					type: "POST",
					success: function (data) {
						alert("File deleted!");
					}
				}
			);
		}
		function download(fileId) {
			window.location.href = url + "GetFile?id=" + fileId;
		}
    </script>
}