@model GR.Identity.Abstractions.Models.UserProfiles.Profile
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = Localizer["profile_edit"];
}

<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="mb-0 text-white">@Localizer["profile_edit"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" role="form">
            <input type="hidden" asp-for="Id" />
            <div class="form-body">
                <h3 class="card-title">Profile Info</h3>
                <hr>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProfileName" class="control-label"></label>
                            <input asp-for="ProfileName" class="form-control" />
                            <span asp-validation-for="ProfileName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-group">
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/assets/js/profile/script.js"></script>
}