@model GR.ECommerce.Razor.ViewModels.AddToCartViewModel


@{
    ViewData["Title"] = "Cart";
}

<div class="col-12 row">
    <div class="col-8">
        <table class="table table-dark">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            
            <tbody class="listProducts">
                @foreach (var cartItem in Model.CartItems)
                {
                <tr>
                    <td>
                        @cartItem.Product.Name
                    </td>
                    <td>
                        @cartItem.Product.CurrentPrice
                    </td>
                    <td>
                        @cartItem.Amount
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4">

    </div>
</div>