@{
	ViewData["Title"] = "All messages";
}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="row">
				<div class="col-xlg-2 col-lg-4 col-md-4">
					<div class="card-block inbox-panel">
						<a asp-action="SendNotification" class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light">Compose</a>
						<ul class="list-group list-group-full" id="notification-menu">
							<li class="list-group-item active"> <a href="javascript:void(0)">No items!</a></li>
						</ul>
						<h3 class="card-title m-t-40">Labels</h3>
						<div class="list-group b-0 mail-list"> <a href="#" class="list-group-item"><span class="fa fa-circle text-info m-r-10"></span>Work</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-warning m-r-10"></span>Family</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-purple m-r-10"></span>Private</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-danger m-r-10"></span>Friends</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-success m-r-10"></span>Corporate</a> </div>
					</div>
				</div>
				<div class="col-xlg-10 col-lg-8 col-md-8">
					<div class="card-block">
						<div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
							<button type="button" class="btn btn-secondary font-18 text-dark"><i class="mdi mdi-inbox-arrow-down"></i></button>
							<button type="button" class="btn btn-secondary font-18 text-dark"><i class="mdi mdi-alert-octagon"></i></button>
							<button type="button" class="btn btn-secondary font-18 text-dark"><i class="mdi mdi-delete"></i></button>
						</div>
						<div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-secondary text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-folder font-18 "></i> </button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item" href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
							</div>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn text-dark btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-label font-18"></i> </button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item" href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
							</div>
						</div>
						<button type="button " class="btn btn-secondary m-r-10 m-b-10 text-dark"><i class="mdi mdi-reload font-18"></i></button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn m-b-10 text-dark btn-secondary p-10 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More </button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item" href="#">Mark as all read</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
							<div class="pull-right" id="not_pagination" style="padding: 0.5em; margin-left: 15em;"></div>
						</div>
					</div>
					<div class="card-block p-t-0">
						<div class="card b-all shadow-none">
							<div id="notifications" class="inbox-center table-responsive">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="menurightclick" class="ui segment" style="position:absolute; display:none;">
	<div class="row panel">
		<div class="ui dropdown item">
			<i class="dropdown icon"></i>
			Move to folder
			<div class="menu" id="right_menu">

			</div>
		</div>
		<a id="menu_close" class="item">Close</a>
	</div>
</div>

@section Scripts{
	<script src="~/lib/jquery.simplePagination/jquery.simplePagination.js"></script>
	<script src="~/lib/jsrender/jsrender.min.js"></script>
	<script src="~/lib/jsviews/jsviews.min.js"></script>
	<script src="~/assets/js/notifications/notification-list.js" asp-append-version="true"></script>
}