.table thead tr th a {
	color: white !important;
}

	ul .dropdown-menu li a {
		padding: 9px 15px;
		display: block;
		color: #54667a;
	}

		ul .dropdown-menu li :hover {
			background: #f2f7f8;
			color: #009efb;
			text-decoration: none;
		}

