@model ST.Identity.Razor.ViewModels.AccountViewModels.ForgotPasswordViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>title</title>
	<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div>

</div>


<script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" ></script>
</body>
</html>