<li>
	{{if subItems.length == 0}}
	{{if href == ''}}
	<a href="#">
		<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
	</a>
	{{else}}
	<a href="{{:href}}">
		<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
	</a>
	{{/else}}
	{{else}}
	{{if href == ''}}
	<a class="has-arrow" href="#" aria-expanded="false">
		<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
	</a>
	{{else}}
	<a class="has-arrow" href="{{:href}}" aria-expanded="false">
		<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
	</a>
	{{/else}}
	{{/else}}

	{{if subItems.length > 0 }}
	<ul>
		{{for subItems}}
		<li>
			{{if subItems.length == 0}}
			{{if href == ''}}
			<a href="#">
				<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
			</a>
			{{else}}
			<a href="{{:href}}">
				<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
			</a>
			{{/else}}
			{{else}}
			{{if href == ''}}
			<a class="has-arrow" href="#" aria-expanded="false">
				<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
			</a>
			{{else}}
			<a class="has-arrow" href="{{:href}}" aria-expanded="false">
				<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
			</a>
			{{/else}}
			{{/else}}

			{{if subItems.length > 0 }}
			<ul>
				{{for subItems}}
				<li>
					{{if subItems.length == 0}}
					{{if href == ''}}
					<a href="#">
						<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
					</a>
					{{else}}
					<a href="{{:href}}">
						<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
					</a>
					{{/else}}
					{{else}}
					{{if href == ''}}
					<a class="has-arrow" href="#" aria-expanded="false">
						<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
					</a>
					{{else}}
					<a class="has-arrow" href="{{:href}}" aria-expanded="false">
						<i class="{{:icon}}"></i><span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
					</a>
					{{/else}}
					{{/else}}

					{{if subItems.length > 0 }}
					<ul>
						{{for subItems}}
						<li>
							<a href="{{:href}}">
								<span class="hide-menu" translate="{{:translate}}">{{:name}}</span>
							</a>
						</li>
						{{/for}}
					</ul>
					{{/if}}
				</li>
				{{/for}}
			</ul>
			{{/if}}
		</li>
		{{/for}}
	</ul>
	{{/if}}
</li>