@using ST.Identity.Data.UserProfiles
@inject UserManager<ApplicationUser> userManager
@model ST.Entities.Models.Home.HomeViewModel
@inject IStringLocalizer Localizer
@{
	ViewData["Title"] = Localizer["title_home"];
	var user = await userManager.GetUserAsync(User);
}

<link rel="stylesheet" type="text/css" href="~/lib/chartist/dist/chartist.css" />
<link rel="stylesheet" type="text/css" href="~/lib/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.css" />

<div class="row">
	<!-- Column -->
	<div class="col-md-6 col-lg-3 col-xlg-3">
		<div class="card card-inverse card-info">
			<div class="box bg-info text-center">
				<h1 class="font-light text-white">@ViewBag.TotalSessions</h1>
				<h6 class="text-white">Sessions</h6>
			</div>
		</div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-3 col-xlg-3">
		<div class="card card-primary card-inverse">
			<div class="box text-center">
				<h1 class="font-light text-white">@ViewBag.TotalUsers</h1>
				<h6 class="text-white">Users</h6>
			</div>
		</div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-3 col-xlg-3">
		<div class="card card-inverse card-success">
			<div class="box text-center">
				<h1 class="font-light text-white">0</h1>
				<h6 class="text-white">Page Views</h6>
			</div>
		</div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-3 col-xlg-3">
		<div class="card card-inverse card-warning">
			<div class="box text-center">
				<h1 class="font-light text-white">0%</h1>
				<h6 class="text-white">Bounce Rate</h6>
			</div>
		</div>
	</div>
</div>
<!-- Row -->
<div class="row">
	<!-- Column -->
	<div class="col-12">
		<div class="card">
			<div class="row">
				<div class="col-lg-4">
					<div class="p-3">
						<h2 class="font-medium text-inverse">Welcome @user?.UserName</h2>
						<h6 class="card-subtitle">you have 4 new messages</h6>
						<div class="message-box m-t-30">
							<div class="message-widget">
								<!-- Message -->
								<a href="#">
									<div class="user-img"> <img src="~/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
									<div class="mail-contnet">
										<h5>Pavan kumar</h5> <span class="mail-desc">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been.</span> <span class="time">9:30 AM</span>
									</div>
								</a>
								<!-- Message -->
								<a href="#">
									<div class="user-img"> <img src="~/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
									<div class="mail-contnet">
										<h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
									</div>
								</a>
								<!-- Message -->
								<a href="#">
									<div class="user-img"> <span class="round">A</span> <span class="profile-status away pull-right"></span> </div>
									<div class="mail-contnet">
										<h5>Arijit Sinh</h5> <span class="mail-desc">Simply dummy text of the printing and typesetting industry.</span> <span class="time">9:08 AM</span>
									</div>
								</a>
								<!-- Message -->
								<a href="#">
									<div class="user-img"> <img src="~/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
									<div class="mail-contnet">
										<h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 border-left">
					<div class="card-body">
						<div class="d-flex no-block align-items-center">
							<h4 class="font-medium text-inverse">Product Calculation</h4>
							<div class="ml-auto">
								<ul class="list-inline">
									<li class="p-l-0">
										<h6 class="text-muted"><i class="fa fa-circle mr-2 text-success"></i>2016</h6>
									</li>
									<li>
										<h6 class="text-muted"><i class="fa fa-circle mr-2 text-info"></i>2017</h6>
									</li>
								</ul>
							</div>
						</div>

						<div class="total-revenue4" style="height: 350px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Column -->
</div>


@section Scripts{

	<script src="~/lib/chartist/dist/chartist.min.js"></script>
	<script src="~/lib/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>
	<script src="~/lib/chart.js/dist/Chart.min.js"></script>
	<script src="~/js/dashboard2.js"></script>


	@*<script type="text/javascript" language="javascript">

		$(document).ready(function () {
			$('.tree').treegrid({
				'initialState': 'collapsed',

			});
		});

		$(document).ready(function () {
			$('#example').DataTable({
				"columnDefs": [
					{ "width": "50%", "targets": 0 },
					{ "width": "20%", "targets": 1 },
					{ "width": "15%", "targets": 2 },
					{ "width": "15%", "targets": 3 }
				]
			});
			$('a.toggle-vis').on('click', function (e) {
				e.preventDefault();
			
				// Get the column API object
				var table = $('#example').DataTable();
				var column = table.column($(this).attr('data-column'));

				// Toggle the visibility
				column.visible(!column.visible());
			});
		});



	</script>
	<script>

		var newRow = "<tr class=\"treegrid-6 treegrid-parent-4\"> <td></span> 4.2.a-1) To determine interested parties that are relevant to the ISMS;</td>	<td>Jon Pavan</td><td> 01.04.2019</td><td><h5 class=\"m-t-30\">Progress<span class=\"pull-right\">100%</span></h5><div class=\"progress\"><div class=\"progress-bar bg-success wow animated progress-animated\" style=\"width: 100%; height:6px;\" role=\"progressbar\"> <span class=\"sr-only\">60% Complete</span> </div>	</div>	</td>	<td><div class=\"btn-group\" role=\"group\" aria-label=\"Action buttons\">	<a asp-action=\"CreateRequirementAction\" class=\"btn btn-info btn-sm\">Edit</a>	<button type=\"button\" class='btn btn-danger btn-sm'>	Delete	</button>	</div>	</td></tr>";
		//var table = $('table').DataTable();
		//table.row.add($(newRow)).draw();
		$("#createRequirementAction").click(function(e) {
            if ($('#activityTypeName').val() === "") {
                sweetAlert("Field Shouldn't Be Empty!!", "Please Enter name", "error");
                return false;
            };
            const name = $("#activityTypeName").val();
            const data = {
                name: name
            };
            $.ajax({
                url: '@Url.Action("CreateRequirementAction", "Home")',
                content: "application/json; charset=utf-8",
                type: 'POST',
                data: data,
                success: function(result) {

                    if (result) {
                        swal({
                            position: 'top-end',
                            type: 'success',
                            title: result.message,
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result) => {
                            //window.location.reload(true);

							});
						var table = $('#example').DataTable();
						//table.row.add([
						//	'4.2.a-1) To determine interested parties that are relevant to the ISMS;',
						//	'.2',
						//	'.3',
						//	'.4',
						//	'.5'
						//]).draw(false);
						table.row.add($(newRow)).draw();
                    } else {
                        swal({
                            position: 'top-end',
                            type: 'error',
                            title: result.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    ShowError(jqXHR.status);
                }
            });
        });
	</script>*@
}