<div class="row">
	<div class="col-lg-12">
		<div class="card card-outline-info">
			<div class="card-block">
				<form asp-action="Create" role="form">
					<div class="form-body">
						<h3 class="card-title">Generated Form</h3>
						<hr>
						{{for result}}
						<div class="col-md-12">
							<div class="form-group">
								{{if dataType == 'decimal'}}
								<label>{{:name}}</label>
								<input class="form-control" name="{{:name.split(' ').join('')}}" type="number" /><br>
								<small>{{:description}}</small>
								{{/if}}
								{{if dataType == 'nvarchar'}}
								<label>{{:name}}</label>
								<input class="form-control" name="{{:name.split(' ').join('')}}" type="text" /><br />
								<small>{{:description}}</small>
								{{/if}}
								{{if dataType == 'date'}}
								<label>{{:name}}</label>
								<input class="form-control" name="{{:name.split(' ').join('')}}" type="date" /><br />
								<small>{{:description}}</small>
								{{/if}}
								{{if dataType == 'datetime'}}
								<label>{{:name}}</label>
								<input class="form-control" name="{{:name.split(' ').join('')}}" type="date" /><br />
								<small>{{:description}}</small>
								{{/if}}
								{{if dataType == 'int32'}}
								<label>{{:name}}</label>
								<input name="{{:name.split(' ').join('')}}" type="number" /><br />
								<small>{{:description}}</small>
								{{/if}}
								{{if dataType == "uniqueidentifier"}}
								<label>{{:name}}</label>
								<select class="form-control" name="{{:name.split(' ').join('')}}" class="ui dropdown">
									<option>Select value ...</option>
								</select><br />
								<small>{{:description}}</small>
								{{/if}}
								{{if dataType == 'bool'}}
								<div class="ui checkbox">
									<input class="form-control" name="{{:name.split(' ').join('')}}" type="checkbox" tabindex="0">
									<label>{{:name}}</label><br />
									<small>{{:description}}</small>
								</div>
								{{/if}}
								{{if dataType == 'bytes'}}
								<label>{{:name}}</label>
								<input class="form-control" name="{{:name.split(' ').join('')}}" type="file" /><br />
								<small>{{:description}}</small>
								{{/if}}
							</div>
						</div>
						{{/for}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>