@{
    ViewData["Title"] = "Files";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <div class="btn">
                    <div>
                        <div class="label">Upload</div>
                        <input id="files" name="files" type="file" size="1" onchange="uploadFiles('files');" />
                    </div>
                </div>
                <div>
                    <a href="http://localhost:9099/api/file/GetFile?id=" class="btn btn-block btn-link" >Download File</a>
                </div>
            </div>
            <div class="card-body">
                <div class="btn">
                    <div>
                        <div class="label">Upload Multiple</div>
                        <input id="filesMultiple" name="filesMultiple" type="file" size="1" multiple onchange="uploadFilesMultiple('filesMultiple');" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <button  class="btn btn-block btn-inverse" onclick="deleteLogical($('#deleteTxt').val())">Delete logical</button>
                <button  class="btn btn-block btn-inverse" onclick="deletePermanent($('#deleteTxt').val())">Delete permanent</button>
                <input type="text" id="deleteTxt"/>
            </div>>
        </div>
    </div>
</div>




@section Scripts{
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" language="javascript">
        var url = 'http://localhost:9099/api/File/';
        function uploadFiles(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();
            formData.append("files", files[0]);
            $.ajax(
                {
                    url: url+ 'Upload',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        alert("Files Uploaded with id: " );
                    }
                }
            );
        };
        function uploadFilesMultiple(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax(
                {
                    url: url + 'UploadMultiple',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        alert("Files Uploaded!");
                    }
                }
            );
        };
        function deleteLogical(param) {
            $.ajax(
                {
                    url:  url +'/Delete',
                    data: {id : param},
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        alert("File deleted!");
                    }
                }
            );
        };
        function deletePermanent(param) {
            $.ajax(
                {
                    url: url + 'DeletePermanent',
                    data: {id : param},
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        alert("File deleted!");
                    }
                }
            );
        }
    </script>
}