@{
    ViewData["Title"] = "Connect to external calendars";
}

@section Styles
{
    <style>
        .external-calendars-container div a img {
            width: 5em;
            height: 5em;
            padding: 1em;
        }
    </style>
}


<div class="row external-calendars-container">
    <div class="col-md">
        <a href="#"><img src="~/calendar/images/external-google.png" /></a>
        <span class="text-muted">Connect to google</span>
    </div>
    <div class="col-md">
        <a href="#"><img src="~/calendar/images/external-outlook.jpg" /></a>
        <span class="text-muted">Connect to google</span>
    </div>
    <div class="col-md">
        <a href="#"><img src="~/calendar/images/external-iCal.png" /></a>
        <span class="text-muted">Connect to google</span>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".external-calendars-container div a").on("click", function () {
                alert("Try it later, the service is not available now");
            });
        });
    </script>
}
