<div class="card mb-4">
	<div class="card-header d-flex">
		<span class="d-flex align-items-center">Date Range Picker <span class="badge badge-primary ml-3">Is base</span></span>
		<button class="btn btn-secondary ml-auto">Edit</button>
	</div>
	<div class="card-body">
		<div class="col-md-12 row">
			<div class="col-md-6">
				<p>
					<span class="weight-400">Contact Name : </span><span class="text-muted">Test</span>
				</p>
				<p>
					<span class="weight-400">Phone : </span><span class="text-muted">Test</span>
				</p>
				<p>
					<span class="weight-400">Address line 1 : </span><span class="text-muted">Test</span>
				</p>
				<p>
					<span class="weight-400">Country : </span><span class="text-muted">Test</span>
				</p>
			</div>
			<div class="col-md-6">
				<p>
					<span class="weight-400">Address line 2 : </span><span class="text-muted">Test</span>
				</p>
				<p>
					<span class="weight-400">City : </span><span class="text-muted">Test</span>
				</p>
				<p>
					<span class="weight-400">Zip Code : </span><span class="text-muted">Test</span>
				</p>
				<p>
					<span class="weight-400">District : </span><span class="text-muted">Test</span>
				</p>
			</div>
		</div>
	</div>
</div>