<div class="card-body">
    <form method="post" asp-controller="Users" asp-action="UserPasswordChange" autocomplete="off" name="changeUserPassword" id="changeUserPassword">
        <div class="form-group">
            <label>@Localizer["system_current_password"]</label>
            <input class="form-control" type="password" name="CurrentPassword" id="CurrentPassword">
        </div>
        <div class="form-group">
            <label>@Localizer["system_auth_password"]</label>
            <input class="form-control" type="password" name="Password" id="Password">
        </div>
        <div class="form-group">
            <label>@Localizer["system_auth_repeat_password"]</label>
            <input class="form-control" type="password" name="RepeatPassword" id="RepeatPassword">
        </div>
        <button type="submit" class="btn btn-primary">@Localizer["save"]</button>
    </form>
</div>
<script type="text/javascript">
	$(function() {
        $.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                return this.optional(element) || regexp.test(value);
            },
            window.translate("pass_info2")
        );
        $("form[name='changeUserPassword']").validate({
            errorClass: "text-danger",
            errorElement: "span",
            rules: {
                email: {
                    required: true,
                    email: true
                },
                CurrentPassword: {
                    required: true
                },
                Password: {
                    required: true,
                    regex: /^((?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])).{8,}$/
                },
                RepeatPassword: {
                    required: true,
                    equalTo: "#Password"
                }
            },
            messages: {
                RepeatPassword: {
                    equalTo: window.translate("system_password_does_not_match")
                },
                email: {
                    email: window.translate("validator_email_incorrect")
                }
            },
            submitHandler: function(form, event) {
                event.preventDefault();
                console.log(form);
                $.ajax({
                    type: $(form).attr("method"),
                    url: $(form).attr('action'),
                    data: $(form).serialize()
                }).done((data) => {
                    if (data.is_success) {
                        notification.notify({
                            heading: "Success",
                            text: window.translate("system_auth_password_was_changed")
                        });
                        setTimeout(() => location.reload(), 1000);
                    } else {
                        notification.notifyErrorList(data.error_keys);
                    }
                }).fail(() => {
                    notify({
                        heading: window.translate("system_toast_error"),
                        text: window.translate("system_server_not_respond")
                    });
                });

            }
        });
    });
</script>