<div class="card-body">
	<form method="post" asp-controller="Users" asp-action="UserPasswordChange" autocomplete="off" name="changeUserPassword" id="changeUserPassword">
		<div class="form-group">
			<label>Current password</label>
			<input class="form-control" type="password" required="required" name="CurrentPassword">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" type="password" required="required" name="Password">
		</div>
		<div class="form-group">
			<label >Repeat password</label>
			<input class="form-control" type="password" required="required" name="RepeatPassword">
		</div>
		<button type="submit" class="btn btn-primary">Change</button>
	</form>
</div>

<script type="text/javascript">
	const notification = new ToastNotifier();
	$("form[name='changeUserPassword']").submit(function(e) {
		e.preventDefault();
		const form = $(this);
		const token = $("input[type=hidden][name=__RequestVerificationToken]", document).val();
		$.ajax({
			type: form.attr('method'),
			url: form.attr('action'),
			headers: { 'RequestVerificationToken': token },
			data: form.serialize()
		}).done((data) => {
			if (data.is_success) {
				notification.notify({ heading: "Success", text: "Password was changed" });
				setTimeout(() => location.reload(), 1000);
			} else {
				notification.notifyErrorList(data.error_keys);
			}

		}).fail(() => {
			notify({ heading: "Error", text: "Server error" });
		});
	});
</script>