@model Page
@{
    ViewData["Title"] = "Page ACL";
}

<div class="card">
    <div class="card-body">
        <div class="col-lg-12 bt-switch">
            <h4>Sizes</h4>
            <p class="text-muted font-13">Allow page ACL for : <code>@Model.Settings.Name</code></p>
            <div class="m-b-30">
                <input type="checkbox" checked data-size="mini" />
            </div>
        </div>

        @if (Model.IsEnabledAcl)
        {
            foreach (var item in Model.RolePagesAcls)
            {

            }
        }
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" />
}

@section Scripts
{
    <script src="lib/bootstrap-switch/js/bootstrap-switch.min.js"></script>
}
