@model ST.Identity.Razor.ViewModels.ApiClientViewModels.ApiClientCreateViewModel
@{
	ViewData["Title"] = "Create";
}

<div class="form-create col-md-12">
	<div class="box-custom">
		<div class="box-header with-border">
			<h3 class="box-title">API Client props</h3>
		</div>

		<form asp-action="Create" asp-controller="ApiClients" role="form" class="form-custom">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="box-body">
				<div class="form-group">
					<label asp-for="ClientName"></label>
					<input class="form-control" asp-for="ClientName" />
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-6 form-create">
							<div class="box-custom">
								<div class="box-header with-border">
									<h3 class="box-title">Available api scopes</h3>
								</div>
								<div class="form-custom padForm">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-search"></i>
											</div>
											<input type="text" class="form-control" placeholder="Filter" />
										</div>
									</div>
									<div class="form-group">
										<select id="permissionsAvailable" multiple class="form-control" asp-items="@((List<SelectListItem>) ViewData["ApiScopes"])" style="height: 10em"></select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="actionsPerEvents">
								<span id="moveRight" class="fa fa-arrow-circle-right"></span>
								<span id="moveLeft" class="fa fa-arrow-circle-left"></span>
							</div>
						</div>
						<div class="col-md-5 form-create">
							<div class="box-custom">
								<div class="box-header with-border">
									<h3 class="box-title">Chosen permissions</h3>
								</div>
								<div class="form-custom padForm">
									<div class="form-group">
										<select id="permissionsChosen" class="form-control" style="height: 10em" asp-for="ChosenApiScopes"></select>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="form-group">
					<label asp-for="ClientId"></label>
					<input asp-for="ClientId" class="form-control" />
				</div>


				<div class="form-group">
					<input asp-for="HybridGrantType" />
					<label asp-for="HybridGrantType"></label>
				</div>

				<div class="form-group">
					<input asp-for="AuthorizationCodeGrantType" />
					<label asp-for="AuthorizationCodeGrantType"></label>
				</div>
				<div class="form-group">
					<input asp-for="ClientCredentialsGrantType" />
					<label asp-for="ClientCredentialsGrantType"></label>
				</div>
				<div class="form-group">
					<input asp-for="ImplicitGrantType" />
					<label asp-for="ImplicitGrantType"></label>
				</div>
				<div class="form-group">
					<input asp-for="ResourceOwnerPasswordGrantType" />
					<label asp-for="ResourceOwnerPasswordGrantType"></label>
				</div>

			</div>
			<div class="box-footer">
				<a asp-action="Index" class="btn btn-primary pull-left">
					<span class="fa fa-long-arrow-left"></span> Inapoi la lista
				</a>
				<button type="reset" class="btn btn-primary pull-right">
					<span class="fa fa-rotate-left"></span> Reseteaza
				</button>
				<button type="submit" class="btn btn-primary pull-right">
					<span class="fa fa-plus"></span> Creaza
				</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}