@using Microsoft.EntityFrameworkCore
@model GR.Documents.Abstractions.ViewModels.DocumentViewModels.AddDocumentViewModel;


<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Add document type</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create" role="form" enctype="multipart/form-data">
                    <div class="form-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DocumentCode"></label>
                                    <input asp-for="DocumentCode" class="form-control" />
                                    <span asp-validation-for="DocumentCode"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DocumentTypeId"> Document type </label>
                                    <select asp-for="DocumentTypeId" asp-items="Model.ListDocumentTypes" class="form-control">
                                        <option value=""></option>
                                    </select>
                                    <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea asp-for="Description" class="form-control ckeditor"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Group"></label>
                                    <input asp-for="Group" class="form-control" />
                                    <span asp-validation-for="Group"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Url"></label>
                                    <input asp-for="Url" class="form-control" />
                                    <span asp-validation-for="Url"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Comments"></label>
                                    <textarea asp-for="Comments" class="form-control ckeditor"></textarea>
                                    <span asp-validation-for="Comments" class="text-danger"></span>
                                </div>
                            </div>
                          

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="File"></label>
                                    <input asp-for="File" class="dropify" />
                                </div>
                            </div>

                        </div>
                       
                    </div>
                    <div class="row button-group">
                        <div class="col-lg-2 col-md-3">
                            <button type="submit" class="btn btn-block btn-success"> @Localizer["save"]</button>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(".dropify").dropify();
    </script>*@
}
