@model ST.ECommerce.Razor.ViewModels.ProductCategoryViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0">Add product category</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create" role="form">
                    <div class="form-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DisplayName"></label>
                                    <input asp-for="DisplayName" class="form-control" />
                                    <span asp-validation-for="DisplayName"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DisplayOrder"></label>
                                    <input asp-for="DisplayOrder" class="form-control" />
                                    <span asp-validation-for="DisplayOrder"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="ParentCategoryId"></label>
                                    <select asp-for="ParentCategoryId" asp-items="Model.ParentCategoryList" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input asp-for="IsPublished"  type="checkbox" />
                                    <label class="form-check-label" asp-for="IsPublished"></label>
                                    <span asp-validation-for="IsPublished"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row button-group">
                        <div class="col-lg-2 col-md-3">
                            <button type="submit" class="btn btn-block btn-success"> @Localizer["save"]</button>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}