{{for result.fields ~data = result.values}}
<div class="field">
	{{if !isSystem}}
	{{if type == 'decimal'}}
	<label>{{:columnName}}</label>
	{{for ~data ~name = columnName}}
	{{props}}
	{{if key == ~name}}
	<input name="{{:~name}}" type="number" value="{{:prop}}" />
	{{/if}}
	{{/props}}
	{{/for}}
	{{/if}}
	{{if type == 'nvarchar'}}
	<label>{{:columnName}}</label>
	{{for ~data ~name = columnName}}
	{{props}}
	{{if key == ~name}}
	<input name="{{:~name}}" type="text" value="{{:prop}}" />
	{{/if}}
	{{/props}}
	{{/for}}
	{{/if}}
	{{if type == 'date'}}
	<label>{{:columnName}}</label>
	{{for ~data ~name = columnName}}
	{{props}}
	{{if key == ~name}}
	<input name="{{:~name}}" type="date" value="{{:prop}}" />
	{{/if}}
	{{/props}}
	{{/for}}
	{{/if}}
	{{if type == 'int32'}}
	<label>{{:columnName}}</label>
	{{for ~data ~name = columnName}}
	{{props}}
	{{if key == ~name}}
	<input name="{{:~name}}" type="number" value="{{:prop}}" />
	{{/if}}
	{{/props}}
	{{/for}}
	{{/if}}
	{{if type == "uniqueidentifier"}}
	<label>{{:columnName}}</label>
	<select name="{{:columnName}}" class="ui dropdown">
		<option>Select value ...</option>
	</select>
	{{/if}}
	{{if type == 'bool'}}
	<div class="ui checkbox">
		{{for ~data ~name = columnName}}
		{{props}}
		{{if key == ~name}}
		<input name="{{:~name}}" type="checkbox" value="{{:prop}}" />
		{{/if}}
		{{/props}}
		{{/for}}
		<label>{{:columnName}}</label>
	</div>
	{{/if}}
	{{if type == 'bytes'}}
	<label>{{:columnName}}</label>
	{{for ~data ~name = columnName}}
	{{props}}
	{{if key == ~name}}
	<input name="{{:~name}}" type="file" value="{{:prop}}" />
	{{/if}}
	{{/props}}
	{{/for}}
	{{/if}}
	{{/if}}
</div>
{{/for}}
