@model GR.Identity.Razor.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="ui grid">
    <div class="ui two column centered grid">
        <div class="column">
            <h2>@ViewData["Title"]</h2>
            <h4>Enter your email.</h4>
            <div class=" ui top attached segment">
                <form class="ui form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="field">
                        <label asp-for="Email"></label>
                        <input asp-for="Email">
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                    <a asp-action="Login" class="ui link">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}