@model GR.Identity.Razor.ViewModels.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["system_reset_password"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localizer["system_reset_password"]</title>
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin/jquery.toast.min.css" />
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">@Localizer["system_reset_password"]</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form asp-controller="Account" asp-action="ResetPassword" role="form" method="post">
                            <input asp-for="Code" type="hidden" />
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Email"></label>
                                <input class="form-control" asp-for="Email" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Password"></label>
                                <input class="form-control" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ConfirmPassword"></label>
                                <input class="form-control" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>