@model GR.Process.Razor.ViewModels.ProcessViewModels.CreateProcessViewModel

@{
    ViewData["Title"] = "Create process diagram";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/lib/codemirror/codemirror.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/codemirror/theme/monokai.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/processes/style.css" />
    <link rel="stylesheet" href="~/lib/bpmn/dist/assets/diagram-js.css">
    <link rel="stylesheet" href="~/lib/bpmn/dist/assets/bpmn-font/css/bpmn-embedded.css">
}

<div class="card card-outline-info">
    <div class="card-header">
        <h4 class="mb-0 text-white">Create Process Diagram</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" role="form" id="processCreate">
            @Html.HiddenFor(x => x.DiagramSettings)
            <div class="form-body">
                <h3 class="card-title">Process info</h3>
                <hr>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row pt-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Diagram" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Diagram" style="visibility: collapse" />
                        </div>
                    </div>
                </div>

            </div>

        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#diagram-build" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Diagram</span></a> </li>
                        <li class="nav-item"> <a id="tabActivate" class="nav-link" data-toggle="tab" href="#diagram-xml" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Xml</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="diagram-build" role="tabpanel">
                            <div class="form-group">
                                <div class="content with-diagram" id="js-drop-zone" style="min-height: 800px !important">
                                    <div class="canvas" id="canvas" style="height: 1000px !important;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  p-20" id="diagram-xml" role="tabpanel">
                            <textarea id="code">

							</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row button-group">
            <div class="col-lg-2 col-md-3">
                <button type="button" id="finalyzeAction" class="btn btn-block btn-success"> <i class="fa fa-check"></i>Save</button>
            </div>
            <div class="col-lg-2 col-md-3">
                <button type="reset" class="btn btn-block  btn-inverse">Reset</button>
            </div>
            <div class="col-lg-2 col-md-3">
                <a asp-action="Index" class="btn btn-block btn-link">Back to list</a>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Right BPM sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar-bpm right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> <b id="sidebar-title"></b> <span><i class="ti-close right-side-toggle-bpm"></i></span> </div>
        <div class="r-panel-body">
            <ul id="bpm-sidebar-tabs-head" class="nav nav-tabs" role="tablist"></ul>
            <!-- Tab panes -->
            <div id="bpm-sidebar-tabs-body" class="tab-content tabcontent-border">

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End BPM Right sidebar -->
<!-- ============================================================== -->
@section Scripts {
    <script src="~/lib/codemirror/codemirror.min.js"></script>
    <script src="~/lib/codemirror/addon/display/autorefresh.js"></script>
    <script src="~/lib/codemirror/keymap/sublime.js"></script>
    <script src="~/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/codemirror/mode/css/css.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script src="~/lib/bpmn/dist/bpmn-modeler.production.min.js"></script>
    <script type="text/javascript">
    var tempDiagram = "@Model?.Diagram";
    var tempSettings = "@Html.Raw(Model?.DiagramSettings)";
    </script>
    <script src="~/assets/processes/processCreate.js" asp-append-version="true"></script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}