@model Guid

<div class="mobilPay-container">
    <a id="mobilPayBtn" href="#">
        <img src="~/assets/images/mobilPay.jpg" width="150" height="50" alt="MobilPay"/>
        <div id="mobilPayForm"></div>
    </a>
</div>

<script src="~/assets/js/mobilPay-plugin.js" asp-append-version="true"></script>
<script async>
    const plugin = new MobilPayPlugin("@Model");
    $(document).ready(function () {
        $("#mobilPayBtn").on("click", async function () {
            const form = await plugin.generateForm();
            $("#mobilPayForm").html(form);
            form.submit();
        });
    });
</script>